body{
    padding: 0px;
    margin: 0px;
    background: #e1e1e1;
}

.header{
    background: rgba(0, 0, 0, 0.9);
    padding: 6px 24px;
    text-align: center;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;
}

.video-container{
    position: relative;
    z-index:-1;
    top: 0px;
}

.video-container iframe{
    width: 100%;
    height: 90vh;
}

.content{
    padding: 0px 24px;
    text-align: justify;
    font-size: 20px;
}

div.menu{
    background: rgb(0, 170, 142);
    position: -webkit-sticky;
    padding: 20px 0;
    position: sticky;
    width: 100%;
    top: 0;
}

.menu a{
    margin: 0 30px;
    text-decoration: none;
    color: white;
}